# compiled output
/dist
/node_modules

# logs
logs
*.logs
npm-debug.log*

# os
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json